

.film_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    font-family: Bahnschrift;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e9e4db;
}

h2{
    font-size: 18px;
    margin: 10px;
}

p{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.info{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: aliceblue;
    box-shadow: inset 0px 0px 20px rgb(173, 172, 168);
    border-radius: 30px;
    max-width: 75vw;
    /* min-height: 30vh; */
}
.year{
    margin-top: 0;
    font-weight: 700;
}

.flip-container {
    margin: 2vw;
    width: 100vw;
    height: 40vh;
    perspective: 1000px;
}

.flipper {
    width: 100vw;
    height: 40vh;
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
}

img {
    height: 40vh;
    position: relative;
}

.front,
.back {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flipper:hover {
    transform: rotateY(180deg);
}

