.page{
    max-height: 100vh;
    overflow-y: auto;
}

.film_container{
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


body {
    font-family: Bahnschrift;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e9e4db;
}

h1{
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 36px;
    font-weight: 900;
    color: white;
    margin-top: 3vh;
    margin-bottom: 10px;
}

h2{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}

p{
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 16px;
}

.info{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: aliceblue;
    box-shadow: inset 0px 0px 20px rgb(173, 172, 168);
    border-radius: 30px;
    max-width: 75vw;
    margin-bottom: 20px;
}
.detail{
    margin-top: 0;
    font-weight: 700;
}

.year{
    text-align: left;
}

.time {
    text-align: right;
}

.trailer{
    display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
}

.flip-container {
    margin: 2vw;
    width: 100vw;
    height: 40vh;
    perspective: 1000px;
}

.flipper {
    width: 100vw;
    height: 40vh;
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
}

img {
    height: 40vh;
    position: relative;
}

.front,
.back {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flipper:hover {
    transform: rotateY(180deg);
}

/* ___________________________________ */

