
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 255, 248);
}

.film_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


/* CSS */
.flip-container {
    width: 100vw;
    height: 30vh;
    perspective: 1000px;
}

.flipper {
    width: 100vw;
    height: 30vh;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: rgba(227, 255, 103, 0.26);
}

img {
    height: 30vh;
    position: relative;
}

.front,
.back {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 103, 166, 0.26);
}


.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flipper:hover {
    transform: rotateY(180deg);
}

